body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 650px;
    /* background-color: salmon; */
    padding: 50px 0px;
    overflow: hidden;
    /* height: 200px; */
    /* overflow: hidden; */
    /* margin: auto; */
}

.carousel::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
    background-color: #C6DBF0;
}

.carousel-events {
    display: flex;
    transition: transform 0.5s ease;
    padding-left: 15%;
    gap: 7rem;
}

.event {
    position: relative;
    /* max-width: 20%; */
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    filter: blur(0px);
    /* margin-right: 4rem; */
    opacity: .6;
}

.event.active {
    filter: none;
    opacity: 1;
}

.event-date {

}

.event-number {
    position: absolute;
    top: -20%;
    right: 0;
    z-index: 1;
    font-size: 6rem;
    letter-spacing: -10px; 
    color: #fff;
}

.carousel-image {
    /* min-width: 100%; */
    height: 25vh;
    transition: all 0.5s ease;
    /* opacity: 0; */
    position: relative;
    /* top: 0;
    left: 0; */
}

.carousel-image.active {
    /* opacity: 1; */
    transform: scale(1.1);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.carousel-button.prev {
    left: 10px;
    visibility: hidden;
}

.carousel-button.next {
    right: 10px;
}

.descriptions {
    text-align: center;
    margin-top: 20px;
}

.description {
    display: none;
}

.description.active {
    display: block;
}


.events-progress {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.events-progress-bar {
    display: block;
    height: 5px;

    background-color: red;
    z-index: 1;
}

.events-progress ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.events-progress li {
    display: inline;
}
