@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body {
    font-family: "Onest", sans-serif;
    font-size: 1vw !important; 
}

* {
    margin: 0;
    padding :0;
}

.langue-change {
    position: absolute;
    padding: 1.8rem;
    top: .3rem;
    right: 3rem;
}

/* faire l'image de font après */
.main-content {
    background-image: url("../img/landingBgImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.custom-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 98, 98, 0.9);
    z-index: 1;
}

.custom-filter-modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #D9D9D9;
    z-index: 3;
    opacity: 50%;
}

/* affichage simple */
.element-shadow {
    position: relative;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    background-color: rgba(64, 62, 62, .55);
    border-radius: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

h1.main-title {
    text-align: center;
    font-size: 2vw; 
}

p.landing-text {
    width: 603px;
    text-align: center;
    line-height: 1.5;
}

button.landing-button {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: none;
    background-color: #C6DBF0;
    text-transform: uppercase;
    font-weight: bold;
}

#landing-modal {
    position: absolute;
    padding: 1.8rem;
    top: 0;
    right: 0;
    font-size: 2rem;
}

.landing-modal-window {
    /* display modifiable */
    display: none;
    
    /* emplacement */
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    padding: 5rem 5rem 2rem 5rem;

    /* elements de la box */
    height: auto;
    width: 325px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);

    /* style du texte */
    color:rgba(0, 0, 0, 1)
}

#landing-modal-close {
    position: absolute;
    font-size: 2.5rem;
    padding: 1.8rem;
    top: 0;
    right: 0;
    color: #8B1202;
}

.landing-modal-title {
    padding: .7rem;
    margin-bottom: .5rem;
    text-align: center;
}

.landing-modal-button {
    width: 17.5rem;
    padding: .7rem;
    margin-top: 1.5rem;
    background-color: #EBEBEB;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

.landing-modal-list {
    margin-left: .75rem;
}

.landing-button {
    transition: transform 0.3s ease;
}

.landing-button:hover {
    transform: scale(1.10);
}

.blur-effect {
    filter: blur(5px);
}

.blur-effect-no {
    filter: blur(0px);
}

/* CSS */
.display-name div {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.display-name div.selected {
    background-color: #ddd;
}

.display-name {
    padding: .3rem;
}