/* text content element */
.page-title {
    color: #8B1202;
    text-transform: uppercase ;
}

.page-title-description {
    color: #030303;
    font-weight: lighter;
    font-size: 1.1rem;
}

/* Gestion de l'emplacement */
.main-title-page {
    width: 79vw;
    padding: 5rem 0rem 0rem 15rem;
}

.first-box-content {
    display: flex;
    flex-direction: row;
    width: 63vw;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 4.5rem;

    /* inside the box */
    padding: 2rem;
}

.img-support-box {
    position: absolute;
    top: 16rem;
    right: 17rem;
    width: 290px;
    height: 270px;
    background-color: #fff;
    transform: rotate(-3deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-box {
    padding-right: 20rem;
    line-height: 1.5;
}

.video-integration {
    margin-top: 3rem;
}

.video-integration iframe {
    margin-left: 15.3rem;
    box-sizing: border-box;
    /* width: calc(65.625rem*1); 
    height: calc(36.875rem*1); */
    width: 1024px;
    height: 576px;
    border-radius: 20px;
    border: none;
}

.img-half-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.img-content {
    width: 50%;
    height: 550px;
}

.text-content {
    margin: 0;
    background-color: #D9D9D9;
    width: 50%;
    height: 550px;
}

.text-content > * {
    padding: 0 5rem 0 5rem; 
    text-align: justify;
}

.text-content > h2 {
    padding-top: 2rem;
}

.page-more-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 15rem;
    background-color: #FDFDFD;
    width: 60vw;
    padding: 3rem;
    border-radius: 30px;
}

.title-box {
    text-transform: uppercase;
}

.page-content-button {
    text-transform: uppercase;
    background-color: #C6DBF0;
    color: #030303;
    border: none;
    width: 186px;
    padding: .9rem;
    border-radius: 20px;
    margin-left: auto;
    display: block;
    margin-top: 1.4rem;
}

.img-support-box > img {
    height: 200px;
    padding: .7rem .7rem 0 .7rem;
}

.img-description {
    padding-top: .9rem;
}