@media (max-width: 1366px){
    .menu-help-card{
        margin: -1rem 0rem 0rem 2rem
    }
    #menu-modal{
        right: 8rem;
    }
    .base-circle{
        height: 390px;
        width: 415px;
    }
    .img-title{
        font-size: 1.2rem;
    }
    .left-menu{
        right: 64px !important;
    }
}

@media (max-width: 1024px) {
    .menu-element{
        top: 60%;
        left: 53%;
    }
    .main-content{
        width: 110vw;
        height: 110vh;
    }
    .menu-help-card{
        margin: -4rem 0rem 0rem 1rem;
        width: 115px;
        height: 110px;
        font-size: 10px;
        padding: 0.5rem;
    }
    #menu-help-icon {
        font-size: 1.5rem;
        margin-bottom: .3rem;
    }
}




@media (max-width:430px) {
    .main-content{
        height: 120vh;
    }

    .menu-help-card{
        display: none;
    }
    
    #menu-modal{
        top: 2rem;
        right: 1rem;
    }
    .menu-element{
        top: 65%;
        left: 15%;
    }
    .base-circle{
        border: none;
        flex-direction: column;
        width: 0px;
    }

    .point{
        position: relative;
        margin-top: 15px;

    }

    .point > img:hover{
        transform: none;
    }

    .img-title{
        opacity: 1;
        left: 100px;
        right: 0;
        top: 50% !important ;
        width: 270px;

    }

    .top, .top-right, .top-left, .right, .left, .bottom-right, .bottom, .bottom-left{
        transform: none;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .base-circle > img{
        display: none;
    }
}