@media (max-width: 1366px) {
    .main-content{
        overflow-x: hidden;
    }
    .first-box-content{
        width: 80vw;
    }
    .main-title-page{
        /* margin-left: 8%; */
        padding: 2rem 1rem 0 1rem;
        box-sizing: border-box;
    }
    .img-support-box{
        top:-2rem;
    }
    .page-more-content{
        width: 80vw;
    }

    .img-half-text{
        flex-direction: column;
        width: 80vw;
        margin: 2rem auto;
    }
    .img-half-text > .img-content, .img-half-text > .text-content{
        width: 100%;
    }

    .img-half-text > .img-content{
        object-fit: contain;
    }

    .page-content-button{
        margin-right: auto;
        margin-left: auto;
    }

    .img-half-text > .text-content{
        height: auto;
        padding: 3rem;
        border-radius: 30px;
        margin-left: -2.5rem;
    }

    .text-content > .page-content-title, .text-content > .page-text-content{
        padding: 0;
    }
}

@media (max-width: 1024px){
    .first-box-content{
        width: 100vw;
        border-radius: 0;
        /* padding-right: 0; */
    }
    .text-box-content{
        width: 65%;
    }
    .main-title-page{
        /* margin-left: 3%; */
    }
    .img-support-box{
        top: -1rem;
        right: 0rem;
    }
    .description-box{
        padding-right: 0;
    }
    .page-more-content{
        width: 100vw;
        border-radius: 0;
        box-sizing: border-box;
    }
    .page-content-title{
        width: 90%;
    }
    .page-text-content{
        width: 90%;
        text-align: justify;
    }

    .img-half-text{
        width: 100%;
    }

    .img-half-text > .text-content{
        width: 100vw;
        border-radius: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .img-half-text > .page-text-content{
        width: 90%;
        text-align: justify;
        box-sizing: border-box;
    }


    .first-box-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        margin-top: 3rem;
        padding-bottom: 20px;
    }

    .text-box-content{
        width: 95%;
    }
    .img-support-box{
        top: 1rem;
        margin: 0 auto;
    }
}

@media (max-width: 430px) {

    body{
        font-size: 12px;
    }
    .navbar{
        padding: 0rem 0rem 1rem 1rem;
    }
    .navbar > .left-side{
        justify-content: center;
    }
    .navbar > .left-side > .nav-logo-text{
        width: 30%;
    }
    .navbar > .right-side{
        display: none;
    }

    .burger-menu-btn, .burger-menu-overlay{
        display: block;
    }

    .main-title-page{
        width: 100vw;
        /* padding-top: 2rem; */
    }

    .video-integration{
        margin-top: -7rem;
        margin-bottom: -10rem;
    }

    .carousel-text {
        padding: 20px 0px;
        font-size: 0.5em;
    }

    .carousel-navigation{
        width: 120%;
    }

    .carousel-navigation button{
        font-size: 4em;
    }

    .quote-right, .quote-left{
        width: 10%;
    }

    .page-more-content{
        padding: 2rem;
    }

    .img-half-text > .text-content{
        padding: 2rem;
    }

    .img-half-text > .img-content{
        height: 60%;
    }
    
    .page-text-content{
        width: 95%;

    }

}